<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ipc.aidl.BookManagerActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name=".ipc.aidl.BookManagerService"
            android:process=":remote" />

        <provider
            android:name=".ipc.content_provider.BookProvider"
            android:authorities="com.example.myapp.provider"
            android:permission="com.example.provider"
            android:process=":provider" />

        <activity android:name=".ipc.content_provider.ProviderActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ipc.socket.TCPClientActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name=".ipc.socket.TCPServerService"
            android:process=":socket" />
        <service
            android:name=".ipc.binder_pool.BinderPoolService"
            android:process=":binderpool" />

        <activity android:name=".ipc.binder_pool.BinderPoolActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".view.scroller.ScrollerActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <activity android:name=".view.motion_event.MotionEventActivity1">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>